<tr><td width=40% valign=???? align=right>
<a href="URL"><img src="IMAGE" border=0 width=SIZE></a><br></td>

<td width=3% valign=top></td>

<td valign=top>
<font size=2>

<a href="URL">NAME</a>LOCATION::<br><br>

DESCRIPTION

<br><br><hr></td></tr>
